<div class="data-list">
    @for (dataItem of dataList; track dataItem.id) {
        <div class="data-item">
            <div class="data-item__header">
                <span class="data-item__title">
                    {{ dataItem.title }}
                </span>

                <a [href]="dataItem.link">
                    {{ dataItem.link }}
                </a>
            </div>

            <div class="data-item__text">
                {{ dataItem.text }}
            </div>
        </div>
    }
</div>
