<div class="data-list">
    @for (dataItem of dataList(); track dataItem.id;) {
        <div class="data-item">
            <div class="data-item__header">
                <div class="data-item__position">
                    {{ $index + 1 }}
                </div>

                <span class="data-item__title">
                    {{ dataItem.title }}
                </span>
            </div>

            <a [href]="dataItem.link" target="_blank" rel="noreferrer">
                {{ dataItem.link }}
            </a>

            <div class="data-item__category">
                {{ dataItem.category }}
            </div>

            <div class="data-item__text">
                {{ dataItem.text }}
            </div>
        </div>
    }
</div>
