<form
    class="search-form"
    [formGroup]="searchForm"
    (ngSubmit)="submitForm()"
>
    <input
        class="search-field"
        formControlName="query"
        type="text"
        placeholder="Введите запрос"
    >

    @if (queryValue) {
        <button
            class="form-button"
            type="button"
            (click)="resetForm()"
        >
            X
        </button>
    }

    <button
        class="form-button"
        type="submit"
    >
        Найти
    </button>
</form>

