<app-browser-search-form
    class="search-form"
    (submitEvent)="handleNewSearch($event)"
    (resetEvent)="handleResetSearch()"
></app-browser-search-form>

<div class="query-history">
    <p>
        Прошлые запросы
    </p>

    <ul>
        @for (historyItem of historyList; track historyItem) {
            <li class="query-value" (click)="applyLastQuery(historyItem)">
                {{ historyItem }}
            </li>
        }
    </ul>
</div>

@if (searchResults.length) {
    <app-browser-search-data
        class="data-list"
        [dataList]="searchResults"
    ></app-browser-search-data>
} @else {
    <div class="error-block">ничего не нашли</div>
}
